<div class="row animated fadeIn" *ngIf="!empresa">

    <div class="col-md-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5 class="text-navy"> Lista de Empresas</h5>
            </div>
            <div class="ibox-content">

                <div class="row">
                    <div class="col-lg-12 form-inline">
                        Buscar
                        <input class="form-control ml-2" type="text" #input (keyup)="search(input.value)" />

                        <div class="pull-right justify-content-end">
                            Mostrar
                            <select class="form-control ml-2 " style="width: auto" [(ngModel)]="pageSize">
                                                    <option [ngValue]="5">5 items</option>
                                                    <option [ngValue]="10">10 items</option>
                                                    <option [ngValue]="20">20 items</option>
                                                  </select>
                        </div>
                    </div>
                </div>
                <br>
                <button class="btn btn-primary " (click)="agregar()"> <i class="fa fa-plus"></i> Agregar</button>
                <div class="table-responsive">
                    <table class="table table-bordered " id="tabla">
                        <thead class="thead-primary">

                            <tr>
                                <th>ID</th>
                                <th>RUC</th>
                                <th>Descripción</th>
                                <th>Codigo</th>
                                <th>Direccion</th>
                                <th>Telefono</th>
                                <th>Correo</th>
                                <th>Estado</th>
                                <th>Acciones</th>

                            </tr>
                        </thead>
                        <tbody *ngIf="lista.length> 0">
                            <tr *ngFor="let item of listaFiltrada | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize; let i = index; ">
                                <td>{{item.idEmpresa}}</td>
                                <td>{{item.ruc}}</td>
                                <td>{{item.descripcion}}</td>
                                <td>{{item.codigo}}</td>
                                <td>{{item.direccion}}</td>
                                <td>{{item.telefono1}}</td>
                                <td>{{item.email}}</td>
                                <td *ngIf="!item.estado"> <span class="badge badge-danger"> Inactivo</span> </td>
                                <td *ngIf="item.estado"><span class="badge badge-success"> Activo</span> </td>
                                <td>
                                    <button class="btn btn-warning" (click)="seleccionar(item)"> <i class="fa fa-edit"></i> Editar</button>

                                </td>

                            </tr>

                        </tbody>
                        <tbody *ngIf="lista.length === 0">
                            <tr>
                                <td colspan="3" class="no-data-available text-center">No existen datos para mostrar</td>
                            </tr>
                        </tbody>

                        <tbody *ngIf="listaFiltrada.length === 0 && lista.length > 0">
                            <tr>
                                <td colspan="5" class="no-data-available text-center">
                                    <div class="alert alert-warning text-center" *ngIf="listaFiltrada.length === 0 && lista.length > 0">
                                        <span> <i class="fa fa-info-circle"></i> No se encontro resultados</span>
                                    </div>
                                </td>
                            </tr>
                            <tbody>
                    </table>
                    <span *ngIf="lista.length < page * pageSize">
                                    Mostrando {{listaFiltrada.length}} registro(s) de {{listaFiltrada.length}}
                                </span>
                    <span *ngIf="lista.length >= page * pageSize">
                                        Mostrando {{page * pageSize }} registro(s) de {{listaFiltrada.length}}
                                    </span>

                    <div class="text-center">
                        <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize" [boundaryLinks]="false">
                        </ngb-pagination>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>


<div class="row animated fadeIn" *ngIf="empresa">
    <div class="col-lg-12">

        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5 class="text-navy" *ngIf="empresa.idEmpresa"> Editar empresa</h5>
                <h5 class="text-navy" *ngIf="!empresa.idEmpresa"> Agregar empresa</h5>
            </div>
            <div class="ibox-content">
                <form class="form-horizontal" ngNativeValidate #f="ngForm" (ngSubmit)="grabar( f )">

                    <div class="row text-center m-b-md">
                        <div class="col-md">
                            <button type="submit" class="btn btn-w-m btn-outline btn-success"><i class="fa fa-check"></i> Grabar</button> &nbsp;
                            <button type="button" class="btn btn-w-m btn-outline btn-danger" (click)="cancelar()"> <i class="fa fa-refresh"></i> Cancelar</button>

                        </div>

                    </div>

                    <div class="row">


                        <div class="col-lg-6">
                            <div class="form-group">
                                <div class="col-lg-6">
                                    <label class="">ID Empresa</label>
                                    <input type="text" placeholder="ID de la Empresa" class="form-control" disabled name="idEmpresa" [(ngModel)]="empresa.idEmpresa" />
                                </div>
                                <div class="col-lg-4">
                                    <label class="">Estado *</label>
                                    <label class="container">
                                        <span *ngIf="empresa.estado">ACTIVO</span><span *ngIf="!empresa.estado">INACTIVO</span>
                                        <input name="estado" [(ngModel)]="empresa.estado" type="checkbox" class=""> 
                                        <span class="checkmark"></span>
                                    </label>
                                </div>


                            </div>
                            <div class="form-group">
                                <div class="col-lg-12">
                                    <label class="">RUC *</label>
                                    <input type="text" name="ruc" [(ngModel)]="empresa.ruc" placeholder="Ruc de la empresa" class="form-control" required />
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-lg-12">
                                    <label class="">Descripcion *</label>
                                    <input type="text" name="descripcion" oninput="this.value = this.value.toUpperCase()" [(ngModel)]="empresa.descripcion" placeholder="Descripcion de la empresa" class="form-control" required />
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-lg-12">
                                    <label class="">Codigo  </label>
                                    <input type="text" name="url" [(ngModel)]="empresa.codigo" placeholder="Codigo de la empresa" class="form-control" />
                                </div>
                            </div>
                        </div>


                        <div class="col-lg-6">

                            <div class="form-group">
                                <div class="col-lg-12">
                                    <label class="">Direccion</label>
                                    <input type="text" name="direccion" [(ngModel)]="empresa.direccion" placeholder="Direccion de la empresa" class="form-control" />
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-lg-12">
                                    <label class="">Telefono</label>
                                    <input type="text" name="telefono1" [(ngModel)]="empresa.telefono1" placeholder="Telefono de la empresa" class="form-control" />
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-lg-12">
                                    <label class="">Correo Electronico  </label>
                                    <input type="email" name="email" [(ngModel)]="empresa.email" placeholder="ejemplo@gamil.com" class="form-control" />
                                </div>
                            </div>
                        </div>


                    </div>





                </form>
            </div>
        </div>

    </div>
</div>