<div class="row animated fadeIn">
    <div class="col-lg-8">

        <div class="ibox float-e-margins">

            <div class="ibox-title">
                <div class="row">

                    <div class="col-lg-4">
                        <h5 class="text-navy">Detalles del Cliente</h5>
                    </div>

                    <label class="radio-container col-lg-offset-1 col-lg-2">
                        <span>Contado</span>
                        <input name="condicion" [(ngModel)]="condicion" value="1" type="radio" class=""> 
                        <span class="radio-checkmark"></span>
                    </label>
                    <label class="radio-container col-lg-2">
                        <span>Credito</span>
                        <input name="condicion" value="2" [(ngModel)]="condicion" type="radio" class=""> 
                        <span class="radio-checkmark"></span>
                    </label>

                </div>
            </div>

            <div class="ibox-content">

                <div class="row">

                    <div class="col-lg-4">
                        <label class="">Nro Doc. </label>

                        <div class="input-group">
                            <input type="text" name="nrodoc" [(ngModel)]="venta.cliente.nrodoc" (keyup.enter)="buscarCliente( $event.target.value )" class="form-control">
                            <span class="input-group-btn"> 
                                    <button type="button" (click)="buscarCliente(venta.cliente.nrodoc)" class="btn btn-success"><i class="fa fa-search"></i> </button>
                            </span>

                        </div>
                    </div>

                    <div class="col-lg-7">
                        <label class="">Razon Social </label>
                        <div class="input-group">
                            <input type="text" name="nombreApellido" [disabled]="venta.cliente.idCliente || !venta.cliente.nrodoc" [(ngModel)]="venta.cliente.nombreApellido" oninput="this.value = this.value.toUpperCase()" placeholder="" autofocus class="form-control" />
                            <span class="input-group-btn"> 
                                <button type="button" [disabled] ="!venta.cliente.idCliente" class="btn btn-primary"><i class="fa fa-user"></i> </button>
                        </span>
                        </div>
                    </div>





                </div>



            </div>


        </div>

    </div>

    <div class="col-lg-4">

        <div class="ibox float-e-margins">



            <div class="ibox-content">

                <div class="row">
                    <div class="col-lg-5">
                        <h3 class="pull-right"><strong>Total a Pagar</strong> </h3>
                    </div>
                    <div class="col-lg-7">
                        <h3 class="form-control total " style="margin-top: -5px;" disabled>{{venta.importe | number:'1.0-0' }}</h3>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-5">
                        <h4 class="pull-right"><strong>Sub-Total</strong> </h4>
                    </div>
                    <div class="col-lg-7">
                        <h4 class="form-control total " style="margin-top: -5px;" disabled>{{(venta.importe - venta.impuesto) | number:'1.0-0' }}</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-5">
                        <h4 class="pull-right"><strong>IVA</strong> </h4>
                    </div>
                    <div class="col-lg-7">
                        <h4 class="form-control total " style="margin-top: -5px;" disabled>{{venta.impuesto | number:'1.0-0' }}</h4>
                    </div>
                </div>

            </div>


        </div>

    </div>
</div>


<div class="row animated fadeIn">

    <div class="col-lg-12">

        <div class="ibox float-e-margins">

            <div class="ibox-title">
                <div class="row">

                    <div class="col-lg-2">
                        <h5 class="text-navy">Detalles de la Venta</h5>
                    </div>

                    <label class="radio-container col-lg-offset-1 col-lg-2">
                        <span>Articulo</span>
                        <input name="tipo" [(ngModel)]="tipo" (change)="cambiaTipo()" value="A" type="radio" class=""> 
                        <span class="radio-checkmark"></span>
                        </label>
                    <label class="radio-container col-lg-2">
                        <span>Servicio</span>
                        <input name="tipo" [(ngModel)]="tipo" (change)="cambiaTipo()" value="S" type="radio" class=""> 
                        <span class="radio-checkmark"></span>
                    </label>

                    <div class="col-lg-4 pull-right">
                        <button type="button" [disabled]="venta.detalles.length === 0" (click)="mostrarFormaCobro()" class="btn btn-w-m btn-outline btn-success"><i class="fa fa-check"></i> Procesar Venta</button> &nbsp;
                        <button type="button" class="btn btn-w-m btn-outline btn-danger" (click)="cancelar()"> <i class="fa fa-refresh"></i> Cancelar</button>

                    </div>

                </div>
            </div>

            <div class="ibox-content">
                <div class="row">
                    <form class="form-horizontal" ngNativeValidate #f="ngForm" (ngSubmit)="agregar( )">

                        <div class="col-lg-12">

                            <div class="form-group">
                                <div class="col-lg-1">
                                    <label class="">Cantidad </label>
                                    <input type="number" name="cantidad" [(ngModel)]="detalle.cantidad" placeholder="0" class="form-control" />
                                </div>
                                <div class="col-lg-2" *ngIf="tipo === 'A'">
                                    <label class="">Codigo Barra </label>
                                    <input type="text" name="codigoBarra" disabled [(ngModel)]="articulo.articulo.codigoBarra" placeholder="0" class="form-control" />
                                </div>
                                <div class="col-lg-4" *ngIf="tipo === 'A';">
                                    <label class="">Articulo </label>
                                    <select class="select2 form-control" id="selectArticulo"></select>
                                </div>
                                <div class="col-lg-4" *ngIf="tipo === 'S'">
                                    <label class="">Descripcion </label>

                                    <input type="text" name="servicio" [(ngModel)]="servicio" oninput="this.value = this.value.toUpperCase()" placeholder="Descripcion del servicio" autofocus class="form-control" />

                                </div>
                                <div class="col-lg-2" *ngIf="tipo === 'S'">
                                    <label class="">Tipo Impuesto </label>
                                    <select class="form-control" data-placeholder="Seleccione el tipo de impuesto" id="selectImpuesto">
                                                <option value="5">IVA 5%</option>
                                                <option value="10" selected>IVA 10%</option> 
                                                <option value="100">EXENTA</option>          
                                            </select> </div>
                                <div class="col-lg-2">
                                    <label class="">Precio Unit </label>
                                    <input type="text" disabled name="precio" [(ngModel)]="detalle.precioVenta" placeholder="0" class="form-control" />

                                </div>
                                <div class="col-lg-2">
                                    <button type="submit" [disabled]="(!articulo.articulo.idArticulo && !servicio) || !detalle.cantidad || !detalle.precioVenta" class="btn btn-block m-t-md btn-primary"><i class="fa fa-plus"></i> Agregar </button> &nbsp;

                                </div>
                            </div>

                        </div>

                    </form>
                </div>

                <div class="row">
                    <div class="col-lg-12">

                        <div class="table-responsive">
                            <table class="table table-bordered " id="tabla">
                                <thead class="thead-primary">

                                    <tr>
                                        <th>Item</th>
                                        <th>Cantidad</th>
                                        <th>Descripcion</th>
                                        <th>Precio Unit</th>
                                        <th>Impuesto</th>
                                        <th>Subtotal</th>
                                        <th>Total</th>
                                        <th>Acciones</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of venta.detalles; let i = index;">
                                        <th>{{ i+1}}</th>
                                        <th>{{item.cantidad | number}}</th>
                                        <th>{{item.concepto}}</th>
                                        <th>{{item.precioVenta | number:'1.0-0'}}</th>
                                        <th>{{item.impuesto | number:'1.0-0'}}</th>
                                        <th>{{ (item.precioVenta * item.cantidad) - item.impuesto | number:'1.0-0'}}</th>
                                        <th>{{ (item.precioVenta * item.cantidad | number:'1.0-0')}}</th>
                                        <th class="text-center">
                                            <button class="btn btn-info m-r-xxs" (click)="editar(item)"> <i class="fa fa-edit"></i> </button>
                                            <button class="btn btn-danger" (click)="borrar(item)"> <i class="fa fa-trash"></i> </button>
                                        </th>
                                    </tr>


                                </tbody>


                            </table>


                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>

</div>

<app-forma-pago [total]="venta.importe" [saldo]="venta.importe" [tipo]="'cobro'" (enviarFormaCobro)="grabar($event)"></app-forma-pago>