<div class="row animated fadeIn" *ngIf="!deposito">

    <div class="col-md-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5 class="text-navy"> Lista de Depositos</h5>
            </div>
            <div class="ibox-content">

                <div class="col-lg-4 col-md-offset-3 form-inline" *ngIf="_usuarioService.usuario.perfilActual.idPerfil === 1">
                    <label class="m-r-lg">Sucursal  </label>
                    <select id="selectSucursal" class="select2 form-control">
                                <option value="null" disabled>Seleccione la sucursal</option>
                                <option *ngFor="let item of sucursales" [value]="item.idSucursal">
                                                        {{item.descripcion}}
                                </option>
                            </select>
                </div>

                <div class="row">
                    <div class="col-lg-12 form-inline">
                        Buscar
                        <input class="form-control ml-2" type="text" #input (keyup)="search(input.value)" />

                        <div class="pull-right justify-content-end">
                            Mostrar
                            <select class="form-control ml-2 " style="width: auto" [(ngModel)]="pageSize">
                                                            <option [ngValue]="5">5 items</option>
                                                            <option [ngValue]="10">10 items</option>
                                                            <option [ngValue]="20">20 items</option>
                                                          </select>
                        </div>
                    </div>
                </div>
                <br>
                <button class="btn btn-primary " [disabled]="!sucursal" (click)="agregar()"> <i class="fa fa-plus"></i> Agregar</button>
                <div class="table-responsive">
                    <table class="table table-bordered " id="tabla">
                        <thead class="thead-primary">

                            <tr>
                                <th>ID</th>
                                <th>Descripción</th>
                                <th>Sucursal</th>
                                <th>Empresa</th>
                                <th>Estado</th>
                                <th>Acciones</th>

                            </tr>
                        </thead>
                        <tbody *ngIf="lista.length> 0">
                            <tr *ngFor="let item of listaFiltrada | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize; let i = index; ">
                                <td>{{item.idDeposito}}</td>
                                <td>{{item.descripcion}}</td>
                                <td>{{item.sucursal.descripcion}}</td>
                                <td>{{item.empresa.descripcion}}</td>
                                <td *ngIf="!item.estado"> <span class="badge badge-danger"> Inactivo</span> </td>
                                <td *ngIf="item.estado"><span class="badge badge-success"> Activo</span> </td>
                                <td>
                                    <button class="btn btn-warning" (click)="seleccionar(item)"> <i class="fa fa-edit"></i> Editar</button>

                                </td>

                            </tr>

                        </tbody>
                        <tbody *ngIf="lista.length === 0">
                            <tr>
                                <td colspan="3" class="no-data-available text-center">No existen datos para mostrar</td>
                            </tr>
                        </tbody>

                        <tbody *ngIf="listaFiltrada.length === 0 && lista.length > 0">
                            <tr>
                                <td colspan="5" class="no-data-available text-center">
                                    <div class="alert alert-warning text-center" *ngIf="listaFiltrada.length === 0 && lista.length > 0">
                                        <span> <i class="fa fa-info-circle"></i> No se encontro resultados</span>
                                    </div>
                                </td>
                            </tr>
                            <tbody>
                    </table>
                    <span *ngIf="lista.length < page * pageSize">
                                            Mostrando {{listaFiltrada.length}} registro(s) de {{listaFiltrada.length}}
                                        </span>
                    <span *ngIf="lista.length >= page * pageSize">
                                                Mostrando {{page * pageSize }} registro(s) de {{listaFiltrada.length}}
                                            </span>

                    <div class="text-center">
                        <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize" [boundaryLinks]="false">
                        </ngb-pagination>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>


<div class="row animated fadeIn" *ngIf="deposito">
    <div class="col-lg-12">

        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5 class="text-navy" *ngIf="deposito.idDeposito"> Editar deposito</h5>
                <h5 class="text-navy" *ngIf="!deposito.idDeposito"> Agregar deposito</h5>
            </div>
            <div class="ibox-content">
                <form class="form-horizontal" ngNativeValidate #f="ngForm" (ngSubmit)="grabar( f )">

                    <div class="row text-center m-b-md">
                        <div class="col-md">
                            <button type="submit" class="btn btn-w-m btn-outline btn-success"><i class="fa fa-check"></i> Grabar</button> &nbsp;
                            <button type="button" class="btn btn-w-m btn-outline btn-danger" (click)="cancelar()"> <i class="fa fa-refresh"></i> Cancelar</button>

                        </div>

                    </div>

                    <div class="row">


                        <div class="col-lg-6">
                            <div class="form-group">
                                <div class="col-lg-6">
                                    <label class="">ID Deposito</label>
                                    <input type="text" placeholder="ID de la Deposito" class="form-control" disabled name="idDeposito" [(ngModel)]="deposito.idDeposito" />
                                </div>
                                <div class="col-lg-4">
                                    <label class="">Estado *</label>
                                    <label class="container">
                                                <span *ngIf="deposito.estado">ACTIVO</span><span *ngIf="!deposito.estado">INACTIVO</span>
                                                <input name="estado" [(ngModel)]="deposito.estado" type="checkbox" class=""> 
                                                <span class="checkmark"></span>
                                            </label>
                                </div>


                            </div>

                            <div class="form-group">
                                <div class="col-lg-12">
                                    <label class="">Descripcion *</label>
                                    <input type="text" name="descripcion" oninput="this.value = this.value.toUpperCase()" [(ngModel)]="deposito.descripcion" placeholder="Descripcion de la deposito" class="form-control" required />
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-lg-12">
                                    <label class="">Sucursal  </label>
                                    <input type="text" name="sucursal" [value]="sucursal.descripcion" class="form-control" />
                                </div>
                            </div>



                        </div>





                    </div>





                </form>
            </div>
        </div>

    </div>
</div>