<div class="row animated fadeIn">

    <div class="col-md-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5 class="text-navy" *ngIf="!factura"> Lista de Talonarios</h5>
                <div class="col-lg-4 col-md-offset-2 form-inline" *ngIf="_usuarioService.esRoot()">
                    <label class="m-r-lg">Empresa  </label>
                    <select id="selectEmpresa" class="select2 form-control">
                                <option value="null" disabled>Seleccione la Empresa</option>
                                <option *ngFor="let item of empresas" [value]="item.idEmpresa">
                                                        {{item.descripcion}}
                                </option>
                            </select>
                </div>
            </div>
            <div class="ibox-content" *ngIf="!factura">


                <div class="row">
                    <div class="col-lg-12 form-inline">
                        Buscar
                        <input class="form-control ml-2" type="text" #input (keyup)="search(input.value)" />

                        <div class="pull-right justify-content-end">
                            Mostrar
                            <select class="form-control ml-2 " style="width: auto" [(ngModel)]="pageSize">
                                                                    <option [ngValue]="5">5 items</option>
                                                                    <option [ngValue]="10">10 items</option>
                                                                    <option [ngValue]="20">20 items</option>
                                                                  </select>
                        </div>
                    </div>
                </div>
                <br>
                <button class="btn btn-primary " (click)="agregar()"> <i class="fa fa-plus"></i> Agregar</button>
                <div class="table-responsive">
                    <table class="table table-bordered " id="tabla">
                        <thead class="thead-primary">

                            <tr>
                                <th>ID</th>
                                <th>Caja</th>
                                <th>Timbrado</th>
                                <th>Establecimiento</th>
                                <th>Punto Expedicion</th>
                                <th>Nro. Actual</th>
                                <th>Nro Inicial</th>
                                <th>Nro. Final</th>
                                <th>Valido Desde</th>
                                <th>Valido Hasta</th>
                                <th>Estado</th>
                                <th>Acciones</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of listaFiltrada | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize; let i = index; " (click)="seleccionar(item)">
                                <td>{{item.idFactura}}</td>
                                <td>{{item.caja?.descripcion}}</td>
                                <td>{{item.timbrado}}</td>
                                <td>{{item.establecimiento}}</td>
                                <td>{{item.puntoExpedicion}}</td>
                                <td>{{item.nroActual}}</td>
                                <td>{{item.nroInicial}}</td>
                                <td>{{item.nroFinal}}</td>
                                <td>{{item.validoDesde}}</td>
                                <td>{{item.validoHasta}}</td>
                                <td *ngIf="!item.estado"> <span class="badge badge-danger"> Inactivo</span> </td>
                                <td *ngIf="item.estado"><span class="badge badge-success"> Activo</span> </td>
                                <td>
                                    <button class="btn btn-warning" (click)="seleccionar(item)"> <i class="fa fa-edit"></i> Editar</button>

                                </td>

                            </tr>

                        </tbody>

                        <tbody *ngIf="lista.length === 0">
                            <tr>
                                <td colspan="12" class="no-data-available text-center">No existen datos para mostrar</td>
                            </tr>
                        </tbody>

                        <tbody *ngIf="listaFiltrada.length === 0 && lista.length > 0">
                            <tr>
                                <td colspan="12" class="no-data-available text-center">
                                    <div class="alert alert-warning text-center" *ngIf="listaFiltrada.length === 0 && lista.length > 0">
                                        <span> <i class="fa fa-info-circle"></i> No se encontro resultados</span>
                                    </div>
                                </td>
                            </tr>
                            <tbody>

                    </table>


                    <span *ngIf="lista.length < page * pageSize">
                                Mostrando {{listaFiltrada.length}} registro(s) de {{listaFiltrada.length}}
                            </span>
                    <span *ngIf="lista.length >= page * pageSize">
                                    Mostrando {{page * pageSize }} registro(s) de {{listaFiltrada.length}}
                                </span>

                    <div class="text-center">
                        <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize" [boundaryLinks]="false">
                        </ngb-pagination>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>


<div class="row animated fadeIn" *ngIf="factura">
    <div class="col-lg-12">

        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5 class="text-navy" *ngIf="factura.idFactura"> Editar talonario factura</h5>
                <h5 class="text-navy" *ngIf="!factura.idFactura"> Agregar talonario factura</h5>
            </div>
            <div class="ibox-content">
                <form class="form-horizontal" ngNativeValidate #f="ngForm" (ngSubmit)="grabar( f )">

                    <div class="row text-center m-b-md">
                        <div class="col-md">
                            <button type="submit" class="btn btn-w-m btn-outline btn-success"><i class="fa fa-check"></i> Grabar</button> &nbsp;
                            <button type="button" class="btn btn-w-m btn-outline btn-danger" (click)="cancelar()"> <i class="fa fa-refresh"></i> Cancelar</button>

                        </div>

                    </div>

                    <div class="row">


                        <div class="col-lg-12">
                            <div class="form-group">
                                <div class="col-lg-2">
                                    <label class="">ID Factura</label>
                                    <input type="text" placeholder="ID Talonario" class="form-control" disabled name="idFactura" [(ngModel)]="factura.idFactura" />
                                </div>
                                <div class="col-lg-4">
                                    <label class="">Estado *</label>
                                    <label class="container">
                                                    <span *ngIf="factura.estado">ACTIVO</span><span *ngIf="!factura.estado">INACTIVO</span>
                                                    <input name="estado" [(ngModel)]="factura.estado" type="checkbox" class=""> 
                                                    <span class="checkmark"></span>
                                                </label>
                                </div>


                            </div>

                            <div class="form-group">

                                <div class="col-lg-2">
                                    <label class="">Timbrado * </label>
                                    <input type="text" id="timbrado" name="timbrado" data-mask="99999999" [(ngModel)]="factura.timbrado" placeholder="00000000" class="form-control" />

                                </div>

                                <div class="col-lg-2">
                                    <label class="">Establecimiento * </label>
                                    <input type="text" id="establecimiento" name="establecimiento" data-mask="999" [(ngModel)]="factura.establecimiento" placeholder="000" class="form-control" />
                                </div>

                                <div class="col-lg-2">
                                    <label class="">Punto Expedicion * </label>
                                    <input type="text" id="puntoExpedicion" name="puntoExpedicion" data-mask="999" [(ngModel)]="factura.puntoExpedicion" placeholder="000" class="form-control" />
                                </div>

                                <div class="col-lg-2">
                                    <label class="">Nro Actual * </label>
                                    <input type="text" [disabled]="factura.idFactura" name="nroActual" [(ngModel)]="factura.nroActual" placeholder="000" class="form-control" />
                                </div>

                                <div class="col-lg-2">
                                    <label class="">Nro.Inicial * </label>
                                    <input type="text" [disabled]="factura.idFactura" name="nroInicial" [(ngModel)]="factura.nroInicial" placeholder="000" class="form-control" />
                                </div>
                                <div class="col-lg-2">
                                    <label class="">Nro Final * </label>
                                    <input type="text" name="nroFinal" [(ngModel)]="factura.nroFinal" placeholder="000" class="form-control" />
                                </div>

                            </div>
                            <div class="form-group">



                                <div class="col-lg-3">
                                    <label class="">Valido desde * </label>
                                    <input type="date" id="validoDesde" name="validoDesde" [(ngModel)]="factura.validoDesde" placeholder="dd/mm/aaaa" class="form-control" />
                                </div>

                                <div class="col-lg-3">
                                    <label class="">Valido hasta * </label>
                                    <input type="date" id="validoHasta" name="validoHasta" [(ngModel)]="factura.validoHasta" placeholder="dd/mm/aaaa" class="form-control" />
                                </div>

                            </div>

                            <div class="form-group">
                                <div class="col-lg-4">
                                    <label>Caja *</label>
                                    <select class="select2 form-control" data-placeholder="Seleccione la caja" id="selectCaja">
                                                    <option value="null" disabled>Seleccione la caja</option>
                 
                                                <option *ngFor="let item of cajas" [value]="item.idCaja">
                                                              {{item.descripcion}}
                                                         </option>         
                                                     </select>

                                </div>

                            </div>




                        </div>



                    </div>

                    <span class="text-success"> <strong>Observacion: </strong> Los campos con * son obligatorios</span>

                </form>
            </div>
        </div>

    </div>
</div>